/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Responsividade: Ajustar menu para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        padding: 10px;
    }
}

.dark-mode header {
    background: #333;
}

/* Estilização do menu principal */
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    background: #0056b3;

    /* list-style: none;
    display: flex;
    gap: 15px; 
    padding: 10px; */
    margin-top: 10px;

    /* flex-direction: column; */
    align-items: center;
    padding: 0;

}

.menu li {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px

}

.menu a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-decoration: none;
}

/* Exibir o submenu quando o mouse passa */
.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

/* Cabeçalho */ 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0056b3;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Ajuste do container do título e imagem */
.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.header-image {
    width: 50px;
    height: auto;
    /* margin-right: 15px;
    width: 50px;
    height: auto;*/
} 

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #0056b3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Melhorando a leitura no celular */
@media (max-width: 768px) {
    section {
        padding: 20px; /* Reduz o espaçamento interno */
        margin: 10px; /* Reduz as margens externas */
        font-size: 16px; /* Aumenta o tamanho da fonte para melhor leitura */
        text-align: justify; /* Justifica o texto para melhor legibilidade */
    }

    p {
        line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
    }

    h2 {
        font-size: 20px; /* Ajusta o tamanho do título */
        text-align: center; /* Centraliza os títulos */
    }
}